@using Shop.Common.Constants
<div class="sidebar">
	<!-- Sidebar user panel (optional) -->
	<div class="user-panel mt-3 pb-3 mb-3 d-flex" style="overflow: visible;">
		<div class="image">
			<img src="~/Content/img/admin/user.png" class="img-circle elevation-2" alt="User Image">
		</div>
		<div class="dropdown">		
			<a id="dropdownMenuButton" href="#" class="dropdown-toggle" data-toggle="dropdown" style="margin-left: 10px; margin-top: 5px;"> @Context.GetOwinContext().Authentication.User.Identity.Name</a>
			<div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton" >
				<a class="dropdown-item" href="@Url.Action("SignOut", "Account", new { area = ""})">Sign Out</a>
				
			</div>
		</div>
	</div>

	<!-- SidebarSearch Form -->
	<div class="form-inline">
		<div class="input-group" data-widget="sidebar-search">
			<input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
			<div class="input-group-append">
				<button class="btn btn-sidebar">
					<i class="fas fa-search fa-fw"></i>
				</button>
			</div>
		</div><div class="sidebar-search-results"><div class="list-group"><a href="#" class="list-group-item"><div class="search-title"><strong class="text-light"></strong>N<strong class="text-light"></strong>o<strong class="text-light"></strong> <strong class="text-light"></strong>e<strong class="text-light"></strong>l<strong class="text-light"></strong>e<strong class="text-light"></strong>m<strong class="text-light"></strong>e<strong class="text-light"></strong>n<strong class="text-light"></strong>t<strong class="text-light"></strong> <strong class="text-light"></strong>f<strong class="text-light"></strong>o<strong class="text-light"></strong>u<strong class="text-light"></strong>n<strong class="text-light"></strong>d<strong class="text-light"></strong>!<strong class="text-light"></strong></div><div class="search-path"></div></a></div></div>
	</div>

	<!-- Sidebar Menu -->
	<nav class="mt-2">
		<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
			<!-- Add icons to the links using the .nav-icon class
	with font-awesome or any other icon font library -->
			<li class="nav-item">
				<a href="#" class="nav-link">
					<i class="nav-icon fas fa-th"></i>
					<p>
						Dashboard
						<span class="right badge badge-danger">New</span>
					</p>
				</a>
			</li>
			<li class="nav-item menu-open">
				<a href="#" class="nav-link active">
					<i class="nav-icon fas fa-tachometer-alt"></i>
					<p>
						Categories
						<i class="right fas fa-angle-left"></i>
					</p>
				</a>
				<ul class="nav nav-treeview">
					<li class="nav-item">
						<a href="@Url.Action(Controllers.Action.CREATE, Controllers.CATEGORIES)" class="nav-link">
							<i class="far fa-circle nav-icon"></i>
							<p>Add New</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="@Url.Action(Controllers.Action.INDEX, Controllers.CATEGORIES)" class="nav-link">
							<i class="far fa-circle nav-icon"></i>
							<p>All Categories</p>
						</a>
					</li>
				</ul>
			</li>
			<li class="nav-item menu-open">
				<a href="#" class="nav-link">
					<i class="nav-icon fas fa-tachometer-alt"></i>
					<p>
						Products
						<i class="right fas fa-angle-left"></i>
					</p>
				</a>
				<ul class="nav nav-treeview">
					<li class="nav-item">
						<a href="@Url.Action("Create", Controllers.PRODUCTS)" class="nav-link">
							<i class="far fa-circle nav-icon"></i>
							<p>Add New</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="@Url.Action("Index", Controllers.PRODUCTS)" class="nav-link">
							<i class="far fa-circle nav-icon"></i>
							<p>All Products</p>
						</a>
					</li>
				</ul>
			</li>
			<li class="nav-item menu-open">
				<a href="#" class="nav-link">
					<i class="nav-icon fas fa-tachometer-alt"></i>
					<p>
						Orders
						<i class="right fas fa-angle-left"></i>
					</p>
				</a>
				<ul class="nav nav-treeview">
					<li class="nav-item">
						<a href="@Url.Action("Create",  Controllers.ORDERS)" class="nav-link">
							<i class="far fa-circle nav-icon"></i>
							<p>Add New</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="@Url.Action("Index", Controllers.ORDERS)" class="nav-link">
							<i class="far fa-circle nav-icon"></i>
							<p>All Ordder</p>
						</a>
					</li>
				</ul>
			</li>
			@if (Context.GetOwinContext().Authentication.User.IsInRole("admin"))
			{
				<!-- USERS group-->
				<li class="nav-item menu-open">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-tachometer-alt"></i>
						<p>
							Users
							<i class="right fas fa-angle-left"></i>
						</p>
					</a>

					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="@Url.Action("Create", Controllers.USERS)" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Add New</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("Index", Controllers.USERS)" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>All Users</p>
							</a>
						</li>
					</ul>
				</li>
			}
			</ul>
	</nav>
	<!-- /.sidebar-menu -->
</div>
