@using Shop.Common
@model IEnumerable<Shop.Models.Product>

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Products</h2>


<div class="row">
	@foreach (var item in Model)
	{
		<div class="col-md-4">
			<img src="@(item.FeatureImage?.ToProductImageUrl())" class="img-thumbnail" alt="Product image"/>
			<p class="font-weight-bold">@item.Name</p>
			<p>@item.Prices.First().Value</p>
			<p>@Html.ActionLink("Add to Cart", "AddToCart", new { controller = "Cart", id= item.Id}, new { @class = "btn btn-danger"})</p>
			<p><a href="#" class="badge">@item.Category.DisplayText</a></p>
		</div>
	}
</div>


